body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  min-width: 20em;
}

h1 {
  background: url('icon48.png') no-repeat left center;
  padding-left: 56px;
  min-height: 48px;
  line-height: 48px;
  font-size: 24px;
}

.hidden {
  display: none;
}

#page {
  padding: 1em;
}

#track-list {
}

#track-list li + li {
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid #ddd;
}

#track-list .title {
  font-size: 14px;
  display: block;
}

#track-list .artist {
  display: block;
  font-size: 12px;
  margin-top: 5px;
  text-transform: uppercase;
}
