a, a:link, a:active, a:visited {
  color: #74b033;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
  color: #d4b00f;
}

body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  min-width: 20em;
  color: #444;
  background-color: #f8f8f8;
}

footer {
  background-color: #F8F8F8;
  padding: 10px;
  text-align: center;
}

footer a {
  display: inline;
}

h1 {
  line-height: 36px;
  font-size: 24px;
  color: #999;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

#logo {
  width: 36px;
  vertical-align: middle;
  display: inline-block;
}

#page {
  padding: 0.5em;
}

small {
  font-size: 12px;
}

#track-list {
  font-size: 12px;
}

#track-list li + li {
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid #ddd;
}

#track-list .title {
  font-size: 14px;
  display: block;
}

#track-list .artist {
  display: block;
  font-size: 10px;
  margin-top: 5px;
  color: #494949;
  text-transform: uppercase;
}

#trackset-link {
  background-color: #74b033;
  color: white;
  margin: 0 0 10px 0;
  padding: 0.4em;
  display: block;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  font-size: 24px;
}

#trackset-link:hover, #trackset-link:focus {
  text-decoration: none;
  background-color: #a9cf40;
}
